
/* ************************************************ */
/* Generic Design Css: design.css */

body, html {height: 100%;}
div#body{ width: 100%; height: 100%; position: absolute; overflow: auto; background: #000000 url(../../../../designs/design3002/color1/images/banner.gif) repeat-x scroll 0 136px;}
#big_wrap{ background-color:#2b2b2b; margin: 22px auto 0; border-left: 2px solid black; border-right: 2px solid black;}
#body #company_name { padding-left: 18px; font-size: 24px;}
#body #slogan {margin-left: 18px;}
#body #content_wrap {padding: 0 18px;}
#body #menu_wrap {padding: 0 5px; border-left: 2px solid black;}
#body #footer_wrap {padding: 30px 30px 60px;}
#body #vcounter {margin: 20px 0 0 12px;}
#body #vcounter div {text-align:left !important;}
.banner {background: url(../../../../designs/design3002/color1/images/banner.gif) repeat-x 0 0; height: 52px;}
p {line-height: 24px;}
#body a:hover {color: #ffffff;}


/* ************************************************ */
/* Design Css for Color: color.css */

#body a, #body #company_name, #body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {color: #b40605;}



/* ************************************************ */
/* Custom Css Part */

html {
    overflow:auto;
}
body {
    background: #000000;
    padding: 0;
    margin: 0;
}
* html body { height: 100%; width: 100%; overflow:auto; }
#body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    background: #000000;
    display: table;
}
* html #body { height: 100%; width: 100%; overflow:auto; }
#body td {font-size: 12px;font-family: Georgia, "Times New Roman", Times, serif;color: #ffffff;}
#body .bot, #body .bot td, #body .bot p, #body div .bot #totop, #body td .bot #totop{
font-family: Georgia, "Times New Roman", Times, serif;font-size: 11px;color: #b40605;
}
#body a, #body a:visited, #body a.pager, #body a.pager:visited {
color: #b40605;
    text-decoration: none;
}
#body a.totop, #body a.totop:visited, #body a.totop:hover {
    color: #b40605;
    text-decoration: none;
}
#body a:hover, #body a.pager:hover {
    text-decoration: underline;
}
object.videoObject {display: none;}*+html object.videoObject {display: block;}* html object.videoObject {display: block;}embed.videoEmbed {display: block;}*+html embed.videoEmbed {display: none;}* html embed.videoEmbed {display: none;}
