body {
        padding-top: 30px; /* 80px to make the container go all the way to the bottom of the topbar */
      }



.master-head-title {
    color: black;
    max-width: 55rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

.master-head-title > a {
    color: black;
}

.container-content{
    max-width: 55rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.myfont{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;

}

.img-responsive{
    padding-bottom: 20px;


}